@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine to the factory</h4>

@using (Html.BeginForm())
{
    <p>Name: @Html.TextBoxFor(model => model.Name)</p>
    <p>Product it makes: @Html.TextBoxFor(model => model.Product)</p>
    @Html.Label("Select engineer:")<br>
    @Html.DropDownList("EngineerId");
    <br><br>
  <input type="submit" value="Add new machine" class="btn btn-outline-dark" />
}
<hr>
<input type="button" value="Machine List" onclick="location.href='@Url.Action("Index", "Machines")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />