@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit this Engineer</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>

    @Html.LabelFor(model => model.FavoriteTool)
    @Html.EditorFor(model => model.FavoriteTool)

    <input type="submit" value="Update Engineer" class="btn btn-outline-dark" />
}
<hr>
<input type="button" value="Engineer List" onclick="location.href='@Url.Action("Index", "Engineers")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />